<div class="vehicle-type {% if search_params.type == 'car' %}active{% endif %}" data-type="car">
    <i class="fas fa-car"></i>
    <span>Car</span>
</div>
<div class="vehicle-type {% if search_params.type == 'motorcycle' %}active{% endif %}" data-type="motorcycle">
    <i class="fas fa-motorcycle"></i>
    <span>Motorcycle</span>
</div>
<div class="vehicle-type {% if search_params.type == 'three-wheeler' %}active{% endif %}" data-type="three-wheeler">
    <i class="fas fa-truck-pickup"></i>
    <span>3-Wheeler</span>
</div>
<div class="vehicle-type {% if search_params.type == 'van' %}active{% endif %}" data-type="van">
    <i class="fas fa-shuttle-van"></i>
    <span>Van</span>
</div>
<div class="vehicle-type {% if search_params.type == 'suv' %}active{% endif %}" data-type="suv">
    <i class="fas fa-car-side"></i>
    <span>Suv/Jeep</span>
</div>
<div class="vehicle-type {% if search_params.type == 'pickup' %}active{% endif %}" data-type="pickup">
    <i class="fas fa-truck-pickup"></i>
    <span>Pickup/Double Cab</span>
</div>
<div class="vehicle-type {% if search_params.type == 'bus' %}active{% endif %}" data-type="bus">
    <i class="fas fa-bus"></i>
    <span>Bus</span>
</div>
<div class="vehicle-type {% if search_params.type == 'lorry' %}active{% endif %}" data-type="lorry">
    <i class="fas fa-truck"></i>
    <span>Lorry/Truck</span>
</div>
<div class="vehicle-type {% if search_params.type == 'heavy-duty' %}active{% endif %}" data-type="heavy-duty">
    <i class="fas fa-truck"></i>
    <span>Heavy Duty</span>
</div>
<div class="vehicle-type {% if search_params.type == 'tractor' %}active{% endif %}" data-type="tractor">
    <i class="fas fa-tractor"></i>
    <span>Tractor</span>
</div>
<div class="vehicle-type {% if search_params.type == 'bicycle' %}active{% endif %}" data-type="bicycle">
    <i class="fas fa-bicycle"></i>
    <span>Bicycle</span>
</div>
<div class="vehicle-type {% if search_params.type == 'other' %}active{% endif %}" data-type="other">
    <i class="fas fa-car-side"></i>
    <span>Other</span>
</div> 